# These 2 passwords must be already hashed passwords.
# Use this command to generate the hashes:
# openssl passwd -salt SALT -1 'PASSWORD'

UBUNTU_COMMON_ROOT_PASSWORD: 'hashed_password'
UBUNTU_COMMON_DEPLOY_PASSWORD: 'hashed_password'

UBUNTU_COMMON_LOGWATCH_EMAIL: youremail@example.com


ubuntu_common_deploy_user_name: deploy
ubuntu_common_deploy_public_keys:
  - ~/.ssh/id_rsa.pub

ubuntu_common_required_packages:
  - ufw
  - fail2ban
  - unattended-upgrades
  - logwatch

ubuntu_common_optional_packages:
  - mosh
  - vim

ubuntu_common_ssh_port: 22
ubuntu_common_mosh_from_port: 60000
ubuntu_common_mosh_to_port: 60010

mysql_port: 3306
